[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
reportlab = "==4.1.0"
webdriver-manager = "==4.0.1"
selenium = "==4.19.0"
pypdf = ">=3.9.0"

[dev-packages]

[requires]
python_version = "3.11"
